table {
   width: 100%;
   margin-bottom: $main-spacing;

   thead {
      border-bottom: 2px solid darken($color-primary, 10%);
      color: #fff;
      background-color: $color-primary;
   }

  tbody{
   tr {
      background-color: #ddd;
   }
  }

   th, td {
      padding: $main-spacing / 2;
   }
}